body {
  font: 16px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #444444;
  margin: 0 auto;
  max-width: 960px; }

a {
  color: #178db1; }

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  overflow: hidden;
  zoom: 1; }

label, textarea, input {
  display: block;
  float: left; }

label {
  width: 10%;
  min-width: 4em;
  padding-right: 1.5em;
  margin-bottom: 1em;
  clear: both; }

input {
  width: 30%;
  min-width: 8em; }

